<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Minification config="Debug">
    <ValidateForLowerCase>false</ValidateForLowerCase>
  </Minification>
  <Minification config="Release">
    <ValidateForLowerCase>true</ValidateForLowerCase>
  </Minification>
  <Spriting config="Release">
    <SpriteImages>true</SpriteImages>
    <AutoVersionBackgroundImages>true</AutoVersionBackgroundImages>
  </Spriting>
  <Spriting>
    <SpriteImages>false</SpriteImages>
  </Spriting>
  <!-- locales for which there are different resx files to build variations for -->
  <Locales>en-us;fr-ca</Locales>

  <!-- themes for which there are different resx files to build variations for -->
  <Themes>red;blue</Themes>
</Settings>