<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Minification config="Debug">
    <SpriteImages>false</SpriteImages>
    <ValidateForLowerCase>false</ValidateForLowerCase>
  </Minification>
  <Minification config="Release">
    <SpriteImages>true</SpriteImages>
    <ValidateForLowerCase>true</ValidateForLowerCase>
    <AutoVersionBackgroundImages>true</AutoVersionBackgroundImages>
  </Minification>

  <Locales>localecss2a;localecss2b</Locales>
  <Themes>themecss2a;themecss2b</Themes>
</Settings>