<?xml version="1.0" encoding="utf-8" ?>
<WebGrease>
  <Settings>
    <!-- if autoname or autosprite is used, these will indicate where the images in them come from -->
    <ImageDirectories>global1imagedirectories</ImageDirectories>
    <ImageExtensions>global1imageextensions</ImageExtensions>
  </Settings>
</WebGrease>