<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Minification config="Debug">
    <GlobalsToIgnore>jQuery;Msn</GlobalsToIgnore>
  </Minification>
  <Minification config="Release">
    <GlobalsToIgnore>jQuery2;Msn2</GlobalsToIgnore>
  </Minification>

  <!-- locales for which there are different resx files to build variations for, same as css -->
  <Locales>jsinclude1;jsinclude2
  </Locales>
</Settings>