.a{
	background: blue;
	color: black;
	width: 4px;
	height: 6px;	
	}

.b{
	background: blue;
	color: black;
	height: 13px;
	width: 8px;
	}
	
.c{
	background: blue;
	color: black;
	height: 42px;
	width: 61px;
	}


