.a{
	background: blue;
	}

.b{
	background: green;
	width :7px;
	}
	
.a{
	width :5px;
 }
 
.c{
	background: red;
 }
.a{
	height :5px;
 }
 
.d{
	height :6px;
 }
 
.a{
	length :5px;
 }
 
.a{
	color :blue;
 }