#test1
{
  /* -wg-sprite-position:10px 200px; */
  /* -wg-background-dpi:2; */
  background-repeat:no-repeat;
  background-image:url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif);
  background-position:5px 100px;
  /* -wg-background-size-params: (sprite size: 300px 1234px) (output unit factor: 1) (dpi: 2) (imageposition:Left); */
  background-size:150px 617px
}
#test2
{
  background-repeat:no-repeat;
  background-position:0%;
  background-image:url(../../i/02/3118D8F3781159C8341246BBF2B4CA.gif)
}
#test3
{
  background-repeat:no-repeat;
  background-position:center left;
  background-image:url(../../i/03/69A3A49A93A636AB2E9235F2237F36.gif)
}
#test4
{
  /* -wg-sprite-position:200px 2000px; */
  /* -wg-original-position:center 10px; */
  /* -wg-background-dpi:2; */
  background-repeat:no-repeat;
  background-position:center -990px;
  background-image:url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif);
  /* -wg-background-size-params: (sprite size: 300px 1234px) (output unit factor: 1) (dpi: 2) (imageposition:Center); */
  background-size:150px 617px
}
#test5
{
  background-repeat:no-repeat;
  background-position:center right;
  background-image:url(../../i/03/69A3A49A93A636AB2E9235F2237F36.gif)
}
#test6
{
  /* -wg-sprite-position:10px 200px; */
  /* -wg-original-position:10px 200px; */
  /* -wg-background-dpi:2; */
  background:15px 300px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat;
  /* -wg-background-size-params: (sprite size: 300px 1234px) (output unit factor: 1) (dpi: 2) (imageposition:Left); */
  background-size:150px 617px
}
#test7
{
  /* -wg-sprite-position:10px 200px; */
  /* -wg-original-position:-10px 200px; */
  /* -wg-background-dpi:2; */
  background:url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) -15px 100px no-repeat;
  /* -wg-background-size-params: (sprite size: 300px 1234px) (output unit factor: 1) (dpi: 2) (imageposition:Left); */
  background-size:150px 617px
}
