#test1
{
  background:10px 200px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test2
{
  background:-10px -200px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test3
{
  background:0% url(../../i/02/3118D8F3781159C8341246BBF2B4CA.gif) no-repeat
}
#test4
{
  background:-10px url(../../i/02/3118D8F3781159C8341246BBF2B4CA.gif) no-repeat
}
#test5
{
  background:10px url(../../i/03/69A3A49A93A636AB2E9235F2237F36.gif) no-repeat
}
#test6
{
  background:-10px url(../../i/03/69A3A49A93A636AB2E9235F2237F36.gif) no-repeat
}
#test7
{
  background:left url(../../i/02/3118D8F3781159C8341246BBF2B4CA.gif) no-repeat
}
#test8
{
  background:center -2000px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test9
{
  background:20px 400px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test10
{
  background:0 0 url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test11
{
  background:0 400px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test12
{
  background:-20px 0 url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test13
{
  background:0 0 url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test14
{
  background:-20px -400px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test15
{
  background:0 400px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test16
{
  background:-20px 0 url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test17
{
  background:10px 200px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test18
{
  background:-10px -200px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test19
{
  background:-10px -200px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test20
{
  background:-10px -200px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test21
{
  background:-10px -200px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test22
{
  background:-10px -200px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test22
{
  background:-10px -200px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test23
{
  background:center -1990px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test24
{
  background:center -2010px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test25
{
  background:50% -1990px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test26
{
  background:50% -2010px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test27
{
  background:right -4990px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat!important
}
#test28
{
  background:right -5010px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test29
{
  background:100% -4990px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test30
{
  background:100% -5010px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
#test31
{
  background:center -2000px url(../../i/00/07e0b955ce73f92a8c57c7028c7d01.gif) no-repeat
}
