<?xml version="1.0" encoding="utf-8"?>
<WebGrease>
  <Settings>
    <Preprocessing Engines="sass" />
    <CssMinification>
      <Minify>false</Minify>
    </CssMinification>
  </Settings>

  <CssFileSet name="test1" output="test1.css">
    <Inputs>
      <Input>stylesheet1.scss</Input>
      <Input>stylesheet2.css</Input>
    </Inputs>
  </CssFileSet>

</WebGrease>