@media print
{
  body
  {
    font-size:10pt
  }
}
@media screen
{
}
@media screen,print
{
  body
  {
    line-height:1.2
  }
  div
  {
    background-color:#ddccaa
  }
  em
  {
    font-style:italic
  }
}
@media only screen
{
}
@media not screen
{
}
@media only screen and (color)
{
}
@media not screen and (color)
{
}
@media only screen and (color) and (device-aspect-ratio:16/9)
{
}
@media screen and (color)
{
}
@media screen and (color) and (device-aspect-ratio:16/9) and (min-device-width:800px)
{
}
@media (color)
{
}
@media (color) and (device-aspect-ratio:16/9) and (min-device-width:800px)
{
}
@media screen and (color) and (device-aspect-ratio:16/9) and (min-device-width:800px),print and (color) and (device-aspect-ratio:16/9) and (min-device-width:800px)
{
}
