<?xml version="1.0" encoding="utf-8"?>
<WebGrease>
  <Settings>
    <Preprocessing Engines="sass;less;someotherengine">
      <SomeEngineSetting>SomeEngineValue</SomeEngineSetting>
    </Preprocessing>
  </Settings>

  <CssFileSet name="test2" output="test2.css">
    <Inputs>
      <Input>stylesheet1.scss</Input>
      <Input>stylesheet2.css</Input>
    </Inputs>
  </CssFileSet>
  
</WebGrease>