<?xml version="1.0" encoding="utf-8"?>
<WebGrease>
  <Settings>
    <!-- if autoname or autosprite is used, these will indicate where the images in them come from -->
    <ImageDirectories>f1/i;f2/i</ImageDirectories>
    <ImageExtensions>png;jpg;jpeg;gif;ico</ImageExtensions>

    <!-- If unspecified, the Source will be used -->
    <TokensDirectory>App</TokensDirectory>
    <!-- subdirectory of above  -->
    <OverrideTokensDirectory>Site1</OverrideTokensDirectory>
  </Settings>

  <!-- 
  name: 
    useful for passing around (as an input to anything)?
  output: 
    BaseOutDir is combined with it if not rooted.
    This can be a single file (must end with extension. If so input must be single file or bundle=true) or directory (input is copied to it, with BaseInDir stemmed). If blank, BaseOutDir is used.
  -->
  <CssFileSet name="AllSite" output="AllSite.css">
    <Minification config="Debug">
      <ValidateForLowerCase>false</ValidateForLowerCase>
    </Minification>
    <Minification config="Release">
      <ValidateForLowerCase>true</ValidateForLowerCase>
    </Minification>
    <Spriting config="Release">
      <SpriteImages>true</SpriteImages>
      <AutoVersionBackgroundImages>true</AutoVersionBackgroundImages>
    </Spriting>
    <!-- locales for which there are different resx files to build variations for -->
    <Locales>en-us;fr-ca</Locales>

    <!-- themes for which there are different resx files to build variations for -->
    <Themes>red;blue</Themes>

    <!-- 
    Each input may be a file or a dir. If it is not rooted (starts with '\' or 'X:' etc.), then the BaseInDir (default's to current execution path) is combined with it.
    With the resulting full path, it's a file or a directory determined by exists.
    For directories, they can have a pattern (defaults to '*.[type]') and a SearchOption (defaults to AllDirectories, aka recursive).
    -->
    <Inputs>
      <!-- just get this from combining with [BaseInDir] -->
      <Input>content/css/singlefile.css</Input>

      <!-- will get this regardless of BaseInDir 
      <Input>c:\temp\css.css</Input>-->

      <!-- will recursively get everything under [BaseInDir]content/app/channelsite_en-us/*.css -->
      <Input>content/css/mypage/</Input>

      <!-- will get first dir level files under [BaseInDir]content/app/channelsite_en-us/*.min.css -->
      <Input searchPattern="*_mobile.css" searchOption="TopDirectoryOnly">content/css</Input>
    </Inputs>
  </CssFileSet>
  <CssFileSet name="SomePage" output="Pages\SomePage.css">
        <Minification config="Debug">
      <SpriteImages>false</SpriteImages>
      <ValidateForLowerCase>false</ValidateForLowerCase>
    </Minification>
    <Minification config="Release">
      <SpriteImages>true</SpriteImages>
      <ValidateForLowerCase>true</ValidateForLowerCase>
      <AutoVersionBackgroundImages>true</AutoVersionBackgroundImages>
    </Minification>

    <Locales>
      en-us
    </Locales>
    <Themes>red;
    blue</Themes>

    <Inputs>
      <Input>content/css/singlefile.css</Input>
    </Inputs>
  </CssFileSet>

  <JsFileSet name="AllSite" output="AllSite.js">
    <Minification config="Debug">
      <GlobalsToIgnore>jQuery;Msn</GlobalsToIgnore>
    </Minification>
    <Minification config="Release">
      <GlobalsToIgnore>jQuery;Msn</GlobalsToIgnore>
    </Minification>

    <!-- locales for which there are different resx files to build variations for, same as css -->
    <Locales>en-us;fr-ca
    </Locales>

    <!-- inputs work the same as for css -->
    <Inputs>
      <Input>content/js</Input>
    </Inputs>
  </JsFileSet>

</WebGrease>