<?xml version="1.0" encoding="utf-8" ?>
<WebGrease>
    <Settings>
        <!-- if autoname or autosprite is used, these will indicate where the images in them come from -->
        <ImageDirectories>f1/i;f2/i</ImageDirectories>
        <ImageExtensions>png;jpg;jpeg;gif;ico</ImageExtensions>

        <!-- If unspecified, the Source will be used -->
        <TokensDirectory>App</TokensDirectory>
        <!-- subdirectory of above  -->
        <OverrideTokensDirectory>Site1</OverrideTokensDirectory>
        
        <!-- default locales and themes -->
        <Locales>en-us;en-ca;fr-ca;en-gb</Locales>
        <Themes>Red;Orange;Yellow;Green;Blue;Violet</Themes>

        <!-- default setting for CSS -->
        <CssMinification config="Retail">
            <Minify>True</Minify>
            <ValidateLowerCase>True</ValidateLowerCase>
            <ProhibitedSelectors>body</ProhibitedSelectors>
        </CssMinification>
        
        <!-- default settings for JS -->
        <JsMinification config="Retail">
            <Minify>True</Minify>
            <GlobalsToIgnore>jQuery;$</GlobalsToIgnore>
            <MinifyArguments>-evals:safe -fnames:lock</MinifyArguments>
        </JsMinification>
    </Settings>

    <!-- two CSS file sets; the first uses the defaults, the second overrides -->
    <CssFileSet>
        <!-- use the retail defaults; add Debug settings -->
        <Minification config="Debug">
            <Minify>False</Minify>
        </Minification>
        <Input>content/css/singlefile.css</Input>
    </CssFileSet>
    <CssFileSet>
        <!-- override locales and themes -->
        <Locales>zh-sg</Locales>
        <Locales>zh-tw;zh-hk</Locales>
        <Themes>Pink;Green</Themes>
        <!-- override the retail defaults -->
        <Minification config="Retail">
            <Minify>False</Minify>
        </Minification>
        <Input>content/css/singlefile.css</Input>
    </CssFileSet>

    <!-- two JavaScript file sets; the first uses the defaults, the second overrides -->
    <JsFileSet>
        <!-- use the retail defaults; add Debug settings -->
        <Minification config="Debug">
            <Minify>False</Minify>
            <GlobalsToIgnore>FooBar</GlobalsToIgnore>
        </Minification>
        <Input>content/js</Input>
    </JsFileSet>
    <JsFileSet>
        <!-- override locales -->
        <Locales>es-es</Locales>
        <Locales>es-mx;es-ar</Locales>
        <!-- override the retail defaults -->
        <Minification config="Retail">
            <Minify>False</Minify>
        </Minification>
        <Input>content/js</Input>
    </JsFileSet>
</WebGrease>