<?xml version="1.0" encoding="utf-8"?>
<WebGrease>
  <Settings>
    <CssMinification>
      <Minify>true</Minify>
      <Optimize>true</Optimize>
      <MergeMediaQueries>true</MergeMediaQueries>
    </CssMinification>
  </Settings>

  <CssFileSet output="MediaQueryMergeTest1.css">
    <Inputs>
      <Input>stylesheet.css</Input>
    </Inputs>
  </CssFileSet>

</WebGrease>