<?xml version="1.0" encoding="utf-8"?>
<WebGrease>
  <Settings configSource="Settings\global1.config" />
  <Settings configSource="Settings\global2.config" />
  <Settings configSource="Settings\global3.config" />
  <CssFileSet name="cssfileset1" output="cssfileset1.css" configSource="Settings\css1.config">
    <Inputs>
      <Input>content/css/singlefile.css</Input>
      <Input>content/css/mypage/</Input>
      <Input searchPattern="*_mobile.css" searchOption="TopDirectoryOnly">content/css</Input>
    </Inputs>
  </CssFileSet>
  <CssFileSet name="cssfileset2" output="cssfileset2.css" configSource="Settings\css2.config">
    <ConfigSource>settings\css3.config</ConfigSource>
    <Inputs>
      <Input>content/css/singlefile.css</Input>
    </Inputs>
  </CssFileSet>

  <JsFileSet name="jsfileset1" output="jsfileset1.js">
    <ConfigSource>Settings\js1.config</ConfigSource>
    <Inputs>
      <Input>content/js</Input>
    </Inputs>
  </JsFileSet>
</WebGrease>