#b1
{
  background:url(/i/1.gif) no-repeat
}
#b2
{
  background:url(/i/2.gif) no-repeat 0mm -0.0mm
}
#b3
{
  background:url(/i/3.gif) no-repeat 50% 0
}
#b4
{
  background:url(/i/4.gif) no-repeat 0px 0px
}
#b5
{
  background:url(/i/5.gif) no-repeat 0mm 0px
}