
/* C:\Projects\Workspace2\MSNMetro\Main\MetroSDK\MetroSDK\Content\Source\css\Core\basePage\basePage.core.scss */

/* theme colors */
/* shades of gray */
/* common interface colors */
html {
  font-size: .875em;
  font-family: arial, sans-serif; }

body {
  margin: .571em; }

h1,
h2,
h3 {
  font-weight: normal; }

a {
  color: %darkgray%;
  text-decoration: none; }

img {
  border: none; }

ul {
  margin: 0;
  padding-left: 1.143em; }
  ul li {
    margin: 0 0 .714em;
    padding-left: 0; }
    ul li img {
      display: block; }

/* theme colors */
/* shades of gray */
/* common interface colors */
#breakingnews,
#breakingnews a {
  color: %red%; }
#breakingnews a {
  text-decoration: underline; }

/* theme colors */
/* shades of gray */
/* common interface colors */
#foot {
  clear: both; }
  #foot a,
  #foot span {
    margin-right: .714em; }
    #foot a,
    #foot span {
      color: %mediumgray%; }
  #foot .cobrand {
    margin-bottom: .714em; }

/* theme colors */
/* shades of gray */
/* common interface colors */
body.slate .head .channel {
  color: %slate%; }

body.indigo .head .channel {
  color: %indigo%; }

body.msnblue .head .channel {
  color: %msnblue%; }

body.blue .head .channel {
  color: %blue%; }

body.aquamarine .head .channel {
  color: %aquamarine%; }

body.green .head .channel {
  color: %green%; }

body.orange .head .channel {
  color: %orange%; }

body.pink .head .channel {
  color: %pink%; }

#header {
  float: left;
  margin-right: .286em; }
  #header .channel {
    font-size: 1.429em; }

#nav {
  clear: both;
  padding-top: .571em; }
  #nav a {
    font-size: 1.143em;
    margin-right: .625em;
    text-transform: lowercase; }
    #nav a.current {
      color: #898989; }

#search {
  border: .071em solid #999;
  display: block;
  float: left;
  height: auto;
  margin-top: .286em;
  width: 12.143em; }
  #search #q {
    border: none;
    float: left;
    height: 2em;
    width: 9.571em;
    padding: 0; }
  #search .image {
    float: right;
    border: .071em solid #fff;
    height: 2em;
    width: 2em;
    margin-right: .071em; }


/* C:\Projects\Workspace2\MSNMetro\Main\MetroSDK\MetroSDK\Content\Source\css\Core\landingPage\landingPage.core.scss */

/* theme colors */
/* shades of gray */
/* common interface colors */
h1 {
  display: none; }

h2 {
  clear: both;
  font-size: 1.714em;
  text-transform: lowercase;
  margin: 0; }
  body.slate h2,
  body.slate h2 a {
    color: %slate%; }
  body.indigo h2, body.indigo h2 a {
    color: %indigo%; }
  body.msnblue h2, body.msnblue h2 a {
    color: %msnblue%; }
  body.blue h2, body.blue h2 a {
    color: %blue%; }
  body.aquamarine h2, body.aquamarine h2 a {
    color: %aquamarine%; }
  body.green h2, body.green h2 a {
    color: %green%; }
  body.orange h2, body.orange h2 a {
    color: %orange%; }
  body.pink h2, body.pink h2 a {
    color: %pink%; }

.ip ul,
#clusters ul {
  list-style-type: none;
  padding: 0; }
  .ip ul li,
  #clusters ul li {
    clear: both; }
    .ip ul li span,
    #clusters ul li span {
      font-size: 1.143em; }

.ip ul {
  margin: .357em 0 1.714em; }

.featured {
  clear: both;
  margin-bottom: 1.714em; }
  .featured ul li {
    clear: both; }
    .featured ul li a {
      font-size: 1.143em; }
    .featured ul li.first {
      list-style-type: none;
      margin-top: .313em;
      margin-left: -1.143em; }
      .featured ul li.first span {
        font-size: 1.125em;
        margin: 0; }
      .featured ul li.first.hasimage {
        line-height: 0; }
        .featured ul li.first.hasimage span {
          line-height: 1; }

.ip li a,
#clusters li a,
.featured li.hasimage a {
  display: inline-block; }
  .ip li a img,
  #clusters li a img,
  .featured li.hasimage a img {
    float: left;
    margin-right: .571em; }
  .ip li a span,
  #clusters li a span,
  .featured li.hasimage a span {
    margin: 0;
    display: inline;
    zoom: 1; }

