#fieldWrapper
{
    margin-top: 3px;
	background-color: #FFF;
}

#fieldBasketball
{
	text-align: left;
	background: #869CB2 url('/statics/sports/i/court.png') left 0px no-repeat;
	height: 173px;
	width: 300px;
	position: relative;
	margin: 0;
	display: inline-block;
}

#fieldBasketballMask
{
	height: 173px;
	position: relative;
}

#preGameInfo
{
	background-color: #FFF;
	border: 1px solid #000;
	color: #000;
	font-size: 80%;
	padding: 5px;
	margin: 20px;
	font-weight: bold;
	text-align: center;
}

.matchup
{
    background-color: #869CB2;
}

.status
{
    background-color: #C4CED9;
    color: #000;
}

.teamAlias
{
    color: #DCE5EE;
}

.madeShot, .missedShot, .missedShotLast, .madeShotLast
{
    position: absolute;
	background: transparent url('/statics/sports/i/shot.png') -18px 0 no-repeat;
	width: 18px;
	height: 16px;
}

.missedShot
{
	background: transparent url('/statics/sports/i/shot.png') -18px -17px no-repeat;
}

.missedShotLast
{
	background: transparent url('/statics/sports/i/shot.png') 0 -17px no-repeat;
	z-index: 1;
}

.madeShotLast
{
	background: transparent url('/statics/sports/i/shot.png') 0 0 no-repeat;
	z-index: 1;
}

.rpMadeShot
{
    color: #458B00;
}

.rpMissShot
{
    color: #DC143C;
}