.teaminfo
{
	margin: 10px 5px;
}
.teaminfo_img
{
	text-align: center;
	padding-right: 7px;
}
.teaminfo_name
{
	color: #333;
	font-size: 100%;
	font-family: Tahoma, Verdana;
	font-weight: bold;
}
.teaminfo_summary
{
	color: #333;
	font-size: 100%;
	font-family: Tahoma, Verdana;
}
.teaminfo_col
{
    vertical-align: middle;
}
