/*
// --------------------------------------------------------------------------------------------------------------------
// <copyright file="watchvideo.css" company="Microsoft">
//   Copyright Microsoft Corporation, all rights reserved
// </copyright>
// <summary>
//  Styles for watch video control
// </summary>
// --------------------------------------------------------------------------------------------------------------------
*/

article.playback img, 
article.playback .player, 
article.playback .thumb
{
  float: left;
}

article.playback .thumb
{
  padding-right: 0.75em; /* equivalent to 8px at 12px font-size */
}

article.playback .thumb .playlink
{
    clear: both;
    float: left;
    margin-left: 0;
    margin-top: 0.333em;            /* 4px equivalent @ 12px font-size */
    padding-left: 1.5em;      /* 18px equivalent @ 12px font-size */
}

/* applies to provider/duration/datetime elements */
article.playback figcaption
{
  line-height: 1.25em;  /* equivalent to 15px at 12px font-size */
}

article.playback figure
{
  float:left;
  padding-bottom: 0.75em;  /* equivalent to 8px at 12px font-size */
  width: 100%;
}

article.playback figure h1
{
  clear: both;
  color: #333;
  display: block;
  font-size: 150%;  /* equivalent to 18px at 12px font-size */
  font-weight: normal;
  line-height: 1.222em;  /* equivalent to 22px at 18px font-size */
  margin: 0;
  padding: 0.333em 0 0.444em 0;  /* equivalent to 6px 0 8px 0 at 18px font-size */ 
}

article.playback figcaption cite,
article.playback figcaption time,
article.playback figcaption p
{
  display: block;
  margin: 0 0 0 11.25em;  /* 135px equivalent at 12px font size */
}

article.playback .richtext
{
  clear: both;
  color: #333;
  font-size: 125%;  /* equivalent to 15px at 12px font-size */
  line-height: 1.4em;  /* equivalent to 21px at 15px font-size */
  padding-bottom: 0.417em;  /* equivalent to 5px @ 12px font-size */
}

article.playback h2,
article.playback .related a
{
  font-size: 108.333%;  /* equivalent to 13px @ 12px font-size */
  line-height: 2em;  /* equivalent to 26px @ 13px font-size */
}

article.playback h2
{
  float: left;
  font-weight: bold;
  margin: 0;
  padding-right: 0.462em;  /* equivalent to 6px @ 13px font-size */
}

/* Override the .coa1 or .coa2 margin bottom, since the related links creates 4 extra pixels */
#watchvideo
{
  margin-bottom: 0.75em;  /* equivalent to 8px @ 12px font-size */
}