<?xml version="1.0" encoding="utf-8"?>
<WebGrease>
 <Settings>
    <ImageDirectories>f1/i;app/site1/i</ImageDirectories>
    <ImageExtensions>*.gif</ImageExtensions>
    <TokensDirectory>App</TokensDirectory>
    <OverrideTokensDirectory>Site1</OverrideTokensDirectory>
  </Settings>
  <CssFileSet name="Article1" output="Article1.css">
    <Minification config="Debug">
      <ValidateForLowerCase>true</ValidateForLowerCase>
      <Minify>true</Minify>
    </Minification>
    <Minification config="Release">
      <ValidateForLowerCase>true</ValidateForLowerCase>
    </Minification>
    <Locales>en-us;fr-ca</Locales>
    <Themes>01-black;generic-generic</Themes>
    <Inputs>
      <Input>f1/css/css1.css</Input>
      <Input>f1/css/css2.css</Input>
      <Input>app/site1/css/css1.css</Input>
    </Inputs>
  </CssFileSet>
  
  <CssFileSet name="Article3" output="Article3.css">
    <Minification config="Debug">
      <SpriteImages>false</SpriteImages>
      <ValidateForLowerCase>true</ValidateForLowerCase>
    </Minification>
    <Minification config="Release">
      <SpriteImages>true</SpriteImages>
      <ValidateForLowerCase>true</ValidateForLowerCase>
    </Minification>
    <Locales>en-us</Locales>
    <Themes>red;blue</Themes>
    <Inputs>
      <Input>app/site1/css/onlym.css</Input>
    </Inputs>
  </CssFileSet>
  <CssFileSet name="Article4" output="Article4.css">
    <Minification config="Debug">
      <SpriteImages>false</SpriteImages>
      <ValidateForLowerCase>true</ValidateForLowerCase>
    </Minification>
    <Minification config="Release">
      <SpriteImages>true</SpriteImages>
      <ValidateForLowerCase>true</ValidateForLowerCase>
    </Minification>
    <Locales>en-us</Locales>
    <Themes>red;blue</Themes>
    <Inputs>
      <Input>app/site1/css/onlyv.css</Input>
    </Inputs>
  </CssFileSet>
  <JsFileSet name="Article1" output="Article1.js">
    <Minification config="Debug">
      <Minify>False</Minify>
      <GlobalsToIgnore>jQuery;Msn;Foo</GlobalsToIgnore>
      <Arguments>-h -d -m -k</Arguments>
    </Minification>
    <Minification config="Release">
      <Minify>True</Minify>
      <GlobalsToIgnore>jQuery;Msn;</GlobalsToIgnore>
      <Arguments>-h -d -m -k</Arguments>
    </Minification>
    <Validation config="Debug">
      <Analyze>true</Analyze>
    </Validation>
    <Locales>en-us;fr-ca;en-ca</Locales>
    <Inputs>
      <Input>f1/js/js1.js</Input>
      <Input>f1/js/js2.js</Input>
      <Input>app/site1/js/js1.js</Input>
    </Inputs>
  </JsFileSet>

  <JsFileSet name="Article3" output="Article3.js">
    <Minification>
      <GlobalsToIgnore>jQuery;Msn</GlobalsToIgnore>
      <Arguments>-h -d -m -k</Arguments>
    </Minification>
    <Validation config="Debug">
      <Analyze>false</Analyze>
    </Validation>
    <Locales>en-us;fr-ca</Locales>
    <Inputs>
      <Input>app/site1/js/onlym.js</Input>
    </Inputs>
  </JsFileSet>
  <JsFileSet name="Article4" output="Article4.js">
    <Minification>
      <GlobalsToIgnore>jQuery;Msn</GlobalsToIgnore>
      <Arguments>-h -d -m -k</Arguments>
    </Minification>
    <Validation config="Debug">
      <Analyze>false</Analyze>
    </Validation>
    <Locales>en-us;fr-ca</Locales>
    <Inputs>
      <Input>app/site1/js/onlyv.js</Input>
    </Inputs>
  </JsFileSet>
</WebGrease>