<?xml version="1.0" encoding="utf-8"?>
<WebGrease>
  <Settings>
    <CssMinification config="Debug">
      <RemoveSelectors>.pink;.green;.blue</RemoveSelectors>
    </CssMinification>
    <CssMinification config="Release">
      <RemoveSelectors>.pink;.green;.blue</RemoveSelectors>
    </CssMinification>
  </Settings>

  <CssFileSet name="test4" output="test4.css">
    <Inputs>
      <Input>stylesheet.css</Input>
    </Inputs>
  </CssFileSet>
  
</WebGrease>